.ein:hover{
    color:#cccccc;
}
.zwo{
    background-color: #cccccc;
    color: #272727;
    margin-left: 5px;
    margin-right: 5px;
}
.size_all{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 6px;
    margin-top: 6px;
}
.drei{
    background-color: #499FAA;
}
.drei:hover{
    color:#cccccc;
}
.drei:active{
    color:#272727;
}
.header{
    background-color: #272727;
}
.pxs{
    margin-left: 40px;
    margin-right: 40px;
}